body{
    margin: 0;
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}
.card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width:350px;
    text-align: center;
}
.title{
    font-size: 28px;
    margin-bottom: 20px;
}   
input[type="email"],input[type="password"]{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.login-btn{
    width: 100%;
    background-color: black;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.login-btn:hover{
    background-color: #333;
}
.social-row{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;

}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 8px 10px;
    font-size: 13px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    gap: 8px;
    white-space: nowrap;
    height: 40px;
    box-sizing: border-box;
}
.google{
    background-color: #8B0000;
}
.facebook{
    background-color: #3B5998;
}
.links{
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}
.links a{
    color: #e91e63;
    text-decoration: none;
}
.links a:hover{
    text-decoration: underline;
}
.social img{
    width: 18px;
    height: 18px;
    object-fit: contain;
}